@import '../../styles/variables';

.container-header {
    position: fixed;
    top: 0;
    left: 0;
    height: $menu-size;
    width: 100%;
    background-color: tomato;
}

.toggle-btn {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 26px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color: tomato;
    width: $menu-size;
    height: $menu-size;
    text-align: center;
    user-select: none;
}

.menu {
    padding-top: $menu-size;
    position: fixed;
    top: $menu-size;
    left: -$menu-size;
    bottom: 0;
    width: $menu-size;
    background-color: tomato;
    transition: left 0.5s;

    #menuToggleCheckbox:checked + & {
        left: 0;
    } 
}