.constructor-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    .sub-header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        flex: 0 0 140px;
    }

    .sub-header__text {
        text-transform: uppercase;
        color: white;
        font-size: 40px;
        line-height: 46px;
    }

    .main-section {
        padding: 40px 15% 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #fff;
        flex: 1 0 auto;
    }

    .constructor {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .btn {
        border-radius: 10px;
        font-size: 24px;
        line-height: 30px;
        color:white;
        display: block;
        border: 2px solid white;
        padding: 15px;
        margin-top: 20px;
        text-decoration: none;
        font-weight: normal;
        width: 320px;
        text-align: center;
        user-select: none;
        cursor: pointer;

        &.btn-green {
            background-color: #279e66;
            &:hover {
                background-color: #91e0ba;
            }
        }

        &.btn-lavanda {
            background-color: #5e4cb8;
            &:hover {
                background-color: #cbaaff;
            }
        }
    }

    .input.hidden[disabled] + label.btn {
        cursor: not-allowed;
        background: #474747;
    }

    .hidden {
        display: none;
    }

    .visible {
        display: block;
    }
}