.pdp-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    .sub-header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        flex: 0 0 140px;
    }

    .sub-header__text {
        text-transform: uppercase;
        color: white;
        font-size: 40px;
        line-height: 46px;
    }

    .main-section {
        padding: 40px 15% 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #fff;
        flex: 1 0 auto;
    }

    .btn {
        border-radius: 10px;
        font-size: 24px;
        line-height: 30px;
        color:white;
        display: block;
        border: 2px solid white;
        margin: 0 auto;
        padding: 15px;
        margin-top: 20px;
        text-decoration: none;
        font-weight: normal;
        width: 320px;
        text-align: center;

        &.btn-lavanda {
            background-color: #5e4cb8;
            &:hover {
                background-color: #cbaaff;
            }
        }
    }

    .info-block__title, .info-block__text, .info-block__left {
        text-align: center;
    }

    .info-block__title {
        margin-bottom: 10px;
    }

    .info-block__price {
        color: #5e4cb8;
        font-weight: bold;
    }
}