.cart-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    .sub-header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        flex: 0 0 140px;
    }

    .sub-header__text {
        text-transform: uppercase;
        color: white;
        font-size: 40px;
        line-height: 46px;
    }

    .main-section {
        padding: 40px 15% 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #fff;
        flex: 1 0 auto;
    }

    .item-result {
        display: flex;
        height: 250px;
    }
    
    .delivery {
        border-bottom: 5px solid #b2abd4;
        display: flex;
        justify-content: space-between;

        .controls {
            display: flex;
            width: 120px;
            justify-content: space-between;
            align-items: center;
        }

        .delivery-price {
            padding: 20px 0;
        }

        .row {
            flex: 1 1 auto;
            display: flex;
            padding-left: 60px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .name {
                margin-right: 10px;
            }

            .input {
                border-radius: 3px;
                border: 1px solid;
                padding: 5px;
                width: 300px;
            }
        }

        .btn {
            width: 30px;
            height: 30px;
            font-size: 14px;
            padding: 0;
            margin: 0;
            line-height: 25px;
        }

        .btn-danger {
            margin-right: 10px;
        }
    }

    .item-img {
        max-height: 100%;
        width: 120px;
    }

    .item-model {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 200px 0 60px;
    }

    .item-name {
        font-weight: bold;
        margin-bottom: 45px;
    }
    
    .left-part {
        font-weight: bold;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .item-price, .delivery-price, .right-part {
        background: #b2abd4;
        display: flex;
        width: 100px;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        font-weight: bold;
    }

    .pay-result {
        display: flex;
        justify-content: space-between;
    }
}